// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;
* {
    font-family: "GDS Transport", arial, sans-serif;
}
.govuk-template {
    overflow-y: auto!important;
}
.dfe-card {
    max-width: 100%!important;
    display: flex!important;
    align-items: center!important;
    height: 100px!important;
}
p, ul li, h1, h2, a {
    font-family: "GDS Transport", arial, sans-serif!important;
}
h1 {
    margin-bottom: 30px!important;
}

.dfe-card-container h2 {
    margin: 0!important;
}
@import "application";
