
{% extends "layout.html" %}

{% block pageTitle %}
Analyse School Performance - Search
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="home.html"><strong>Home</strong></a></li>
    <li><a href="my-school.html"><strong>My school</strong></a></li>
    <li class="active"><a href="search.html"><strong>Search</strong></a></li>
    <li><a href="#"><strong>Site news</strong></a></li>
    <li><a href="release-timetable.html"><strong>Release timetable</strong></a></li>
    <li><a href="guidance.html"><strong>Guidance</strong></a></li>
  </ul>
</nav>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 id="search-page-heading" class="govuk-heading-xl">Search for a school or a local authority</h1>

      <div class="govuk-form-group search">
        <h2>School</h2>
        <label for="schoolSearchTerm" class="govuk-label asp-search-label govuk-body-s">
          Enter school name, URN (Unique Reference Number) or LAESTAB (Local Authority Establishment Number)
        </label>

        <input class="govuk-input govuk-!-width-three-quarters asp-magnify-input " name="schoolSearchTerm" id="schoolSearchTerm" spellcheck="false">
        <button id="schoolSearchSubmit" type="submit" class="govuk-button asp-magnify-button">
            <span class="govuk-visually-hidden ">Search</span>
        </button>

        <p>or</p>

        <h2>Local Authority</h2>
        <label for="schoolSearchTerm" class="govuk-label asp-search-label govuk-body-s">
          Enter local authority name or code
        </label>

        <input class="govuk-input govuk-!-width-three-quarters asp-magnify-input " name="schoolSearchTerm" id="LAearchTerm" spellcheck="false">
        <button id="LASearchSubmit" type="submit" class="govuk-button asp-magnify-button">
            <span class="govuk-visually-hidden ">Search</span>
        </button>
      </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text govuk-body-s">
          Help us improve Analyse School Performance
        </span>
      </summary>
      <div class="govuk-details__text">
          <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
          <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
          <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
          <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
      </div>
    </details>
</div>

{% endblock %}
