
{% extends "layout.html" %}

{% block pageTitle %}
Analyse School Performance - Guidance
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="home.html"><strong>Home</strong></a></li>
    <li><a href="my-la.html"><strong>My local authority</strong></a></li>
    <li><a href="my-school.html"><strong>My schools</strong></a></li>
    <li><a href="search.html"><strong>Search</strong></a></li>
    <li><a href="#"><strong>Download data</strong></a></li>
    <li><a href="#"><strong>Site news</strong></a></li>
    <li><a href="release-timetable.html"><strong>Release timetable</strong></a></li>
    <li class="active"><a href="guidance.html"><strong>Guidance</strong></a></li>
  </ul>
</nav>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Guidance
   </li>
  </ol>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="guidance--heading--text" class="govuk-heading-xl">Help using Analyse School Performance</h1>
    </div>
</div>

<div class="govuk-grid-row guidance">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Find out about our service, including our data release timetable, video tutorials, the cookie policy, terms of use and how to contact us.
    </p>
    <h2 class="govuk-!-margin-bottom-1"><a href="https://youtu.be/65Zo64jLZ0E" target="_blank">Primary video tutorial</a></h2>
    <p class="govuk-body-m">
        A step-by-step guide to understanding and using ASP features such as school performance reports, data management and question level analysis. As we are constantly updating the service, you may notice minor differences between the video and the live service.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="https://youtu.be/2ryXmLTPCIg" target="_blank">Secondary video tutorial</a></h2>
    <p class="govuk-body-m">
        A step-by-step guide to understanding and using ASP features such as school performance reports, data management and question level analysis for incoming year 7 pupils.
        As we are constantly updating the service, you may notice minor differences between the video and the live service.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="https://www.gov.uk/government/collections/school-performance-tables-about-the-data">School performance guidance</a></h2>
    <p class="govuk-body-m">
        Department for Education guidance documents explaining the methodology used in our performance measures.
    </p>
    <h2 class="govuk-!-margin-bottom-1"><a href="https://form.education.gov.uk/service/Data-collections-service-request-form">Contact</a></h2>
    <p class="govuk-body-m">
        How to get in touch with us if you have a question, a comment, a complaint or a Freedom of Information request.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="#">Terms of use</a></h2>
    <p class="govuk-body-m">
        An outline of your responsibilities in keeping sensitive data private.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="#">Privacy</a></h2>
    <p class="govuk-body-m">
        Details of the information we collect from you when you use ASP, how we keep your data secure and your data protection rights.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="#">Acceptable use</a></h2>
    <p class="govuk-body-m">
        The acceptable and prohibited uses of ASP.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="#">Cookies</a></h2>
    <p class="govuk-body-m">
        How we use cookies to help us improve ASP and to avoid unnecessary notifications.
    </p>

    <h2 class="govuk-!-margin-bottom-1"><a href="#">Accessibility</a></h2>
    <p class="govuk-body-m">
        Statement of accessibility for ASP.
    </p>
  </div>
</div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text govuk-body-s">
      Help us improve Analyse School Performance
    </span>
  </summary>
  <div class="govuk-details__text">
      <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
      <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
      <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
      <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
  </div>
</details>

{% endblock %}
