
{% extends "layout.html" %}

{% block pageTitle %}
Analyse School Performance - Release Timetable
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="home.html"><strong>Home</strong></a></li>
    <li><a href="my-la.html"><strong>My local authority</strong></a></li>
    <li><a href="my-school.html"><strong>My schools</strong></a></li>
    <li><a href="search.html"><strong>Search</strong></a></li>
    <li><a href="#"><strong>Download data</strong></a></li>
    <li><a href="#"><strong>Site news</strong></a></li>
    <li class="active"><a href="release-timetable.html"><strong>Release timetable</strong></a></li>
    <li><a href="guidance.html"><strong>Guidance</strong></a></li>
  </ul>
</nav>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Release timetable
   </li>
  </ol>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="guidance--heading--text" class="govuk-heading-xl">Release Timetable (provisional)</h1>
    </div>
</div>
<div class="govuk-grid-row guidance">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-body content-results-underline content-formatted-text" id="publication-schedule--item-content--text"><p class="govuk-body-m">For the academic year which ends in July 2022, we plan to release performance data as follows: </p>        
  <table class="govuk-table asp-table--shaded-header release-timetable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Planned 2021/22 data release</th>
        <th scope="col" class="govuk-table__header">Version</th>
        <th scope="col" class="govuk-table__header">Month</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Exclusions 2021-22</th>
        <td class="govuk-table__cell">Final</td>
              <td class="govuk-table__cell">July 2023</td>
      </tr>
    </tbody>
  </table>
  <p class="govuk-body-m">For the academic year which ends in July 2023, we plan to release performance data as follows: </p>
  <table class="govuk-table asp-table--shaded-header release-timetable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Planned 2022/23 data release</th>
        <th scope="col" class="govuk-table__header">Version</th>
        <th scope="col" class="govuk-table__header">Month</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School Characteristics</th>
        <td class="govuk-table__cell">Final</td>
              <td class="govuk-table__cell">August 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">QLA</th>
        <td class="govuk-table__cell">Provisional</td>
              <td class="govuk-table__cell">August 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Key stage 1</th>
        <td class="govuk-table__cell">Provisional</td>
              <td class="govuk-table__cell">September 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Phonics</th>
        <td class="govuk-table__cell">Provisional</td>
              <td class="govuk-table__cell">October 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Key stage 4</th>
        <td class="govuk-table__cell">Provisional</td>
              <td class="govuk-table__cell">October 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 - Destination measures</th>
        <td class="govuk-table__cell">Provisional</td>
              <td class="govuk-table__cell">October 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Absence (2-term)</th>
        <td class="govuk-table__cell">Provisional</td>
              <td class="govuk-table__cell">November 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">MTC</th>
        <td class="govuk-table__cell">Final</td>
              <td class="govuk-table__cell">November 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Key stage 2</th>
        <td class="govuk-table__cell">Revised</td>
              <td class="govuk-table__cell">December 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Key stage 4</th>
        <td class="govuk-table__cell">Revised</td>
              <td class="govuk-table__cell">February 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 - Destination measures</th>
        <td class="govuk-table__cell">Revised</td>
              <td class="govuk-table__cell">February 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Absence (3-term)</th>
        <td class="govuk-table__cell">Final</td>
              <td class="govuk-table__cell">April 2024</td>
      </tr>
    </tbody>
  </table>
  <p class="govuk-body-m">
  This schedule is subject to change and is dependent on data being made available to the ASP team.
  </p>   
  <table class="govuk-table asp-table--shaded-header release-timetable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">2021/22 Data currently available on ASP</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Absence (3-term)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Multiplication tables check</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 Destinations revised</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS2 final</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">16-18 retention data (pre-prepared downloads formally on Key to Success)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS2 revised (with CLA)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 revised (with CLA)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">16-18 revised pre-prepared downloads</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Absence 2021/22 (2-term)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 revised pre-prepared downloads</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS1 &amp; Phonics provisional (with CLA)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School Characteristics</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 Destinations</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS2 revised pre-prepared downloads</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS2 provisional (without CLA)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">16-18 provisional pupil level pre-prepared downloads</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Exclusions 2020/21</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS2 Question Level Analysis (QLA)</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS2 2021/22 pre-prepared downloads</th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">KS4 2021/22 pre-prepared downloads</th>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text govuk-body-s">
      Help us improve Analyse School Performance
    </span>
  </summary>
  <div class="govuk-details__text">
      <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
      <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
      <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
      <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
  </div>
</details>

{% endblock %}
