
{% extends "layout.html" %}

{% block pageTitle %}
  ASP - My Local Authority
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="home.html"><strong>Home</strong></a></li>
    <li class="active"><a href="my-la.html"><strong>My local authority</strong></a></li>
    <li><a href="my-school.html"><strong>My schools</strong></a></li>
    <li><a href="search.html"><strong>Search</strong></a></li>

    <li><a href="#"><strong>Site news</strong></a></li>
    <li><a href="release-timetable.html"><strong>Release timetable</strong></a></li>
    <li><a href="guidance.html"><strong>Guidance</strong></a></li>
  </ul>
</nav>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="my-la.html">My local authority</a>
   </li>
   <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="individual-school-data.html">Download data</a>
 </li>
   <li class="govuk-breadcrumbs__list-item">
    Search for a school
 </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Download data</h1>
<h2 id="school-name-heading" class="govuk-heading-m">Individual school data</h2>

<nav class="sub-navigation" aria-label="Sub navigation">
  <ul class="sub-navigation__list">
    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="my-la-ks2.html">Key stage 2</a>
    </li>
    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="my-la-ks4.html">Key stage 4</a>
    </li>
    <li class="sub-navigation__item">
      <a class="sub-navigation__link" aria-current="page" href="la-download.html"><strong>Download data</strong></a>
    </li>
  </ul>
</nav>


<div class="govuk-width-container">
    <main class="govuk-main-wrapper main-asp">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third side-nav">
            <nav class="side-navigation" aria-label="Side navigation">
                <ul class="side-navigation__list">
                  <li class="side-navigation__item ">
                    <a href="la-download.html">Pupil level and aggregated LA data</a>
                  </li>
                </ul>
            </nav>
            <nav class="side-navigation" aria-label="Side navigation">
              <ul class="side-navigation__list">
                  <li class="side-navigation__item side-navigation__item--active">
                    <a href="individual-school-data.html" aria-current="location">Individual school data</a>
                  </li>
                </ul>
            </nav>
          </div>
        <!--TABS-->

        <div class="govuk-grid-column-two-thirds">
            <div class="page-content js-content-target">
              <div class="govuk-grid-row"></div>
                <span class="govuk-caption-l">Individual school data</span><h1 class="govuk-heading-l">Search for a school</h1>
              
                <ul class="la-list">
                  <li>
                    <a href="my-school-primary.html">
                      <h3 class="govuk-heading-s">A Primary School</h3>
                      <p>Address: Another Primary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-primary.html">
                      <h3 class="govuk-heading-s">A Primary School</h3>
                      <p>Address: Another Primary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 00000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-primary.html">
                      <h3 class="govuk-heading-s">A Primary School</h3>
                      <p>Address: Another Primary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-primary.html">
                      <h3 class="govuk-heading-s">A Primary School</h3>
                      <p>Address: Another Primary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 00000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-primary.html">
                      <h3 class="govuk-heading-s">A Primary School</h3>
                      <p>Address: Another Primary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-secondary.html">
                      <h3 class="govuk-heading-s">A Secondary School</h3>
                      <p>Address: Another Secondary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 00000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-secondary.html">
                      <h3 class="govuk-heading-s">A Secondary School</h3>
                      <p>Address: Another Secondary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-secondary.html">
                      <h3 class="govuk-heading-s">A Secondary School</h3>
                      <p>Address: Another Secondary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 00000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-secondary.html">
                      <h3 class="govuk-heading-s">A Secondary School</h3>
                      <p>Address: Another Secondary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 000000</p>
                    </a>
                  </li>
                  <li>
                    <a href="my-school-secondary.html">
                      <h3 class="govuk-heading-s">A Secondary School</h3>
                      <p>Address: Another Secondary School, County, AAA AAA</p>
                      <p>URN: 000000</p>
                      <p>LAESTAB: 00000000</p>
                    </a>
                  </li>
                  
                
                </ul>
                  
                <nav class="govuk-pagination" aria-label="Pagination">
                  <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                      </svg>
                      <span class="govuk-pagination__link-title">
                        Previous<span class="govuk-visually-hidden"> page</span>
                      </span>
                    </a>
                  </div>
                  <ul class="govuk-pagination__list">
                    <li class="govuk-pagination__item">
                      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                        1
                      </a>
                    </li>
                    <li class="govuk-pagination__item govuk-pagination__item--current">
                      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                        2
                      </a>
                    </li>
                    <li class="govuk-pagination__item">
                      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                        3
                      </a>
                    </li>
                  </ul>
                  <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                      <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden"> page</span>
                      </span>
                      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                      </svg>
                    </a>
                  </div>
                </nav>
                
                
                 
</div>
                </div>
       
        <!--END OF TABS-->
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text govuk-body-s">
            Help us improve Analyse School Performance
          </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
            <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
        </div>
      </details>
  </main>
</div>

{% endblock %}
