
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Analyse School Performance
{% endblock %}

{% block content %}    
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">ASP 2.0 prototypes</h1>

    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Please be aware of the following:</p>
          <ul>
            <li>The data used within this prototype is dummy data.</li>
            <li>As this is a prototype:
              <ul>
                <li>some links may not work as expected</li>
                <li>some features may not be interactive and there may be use of screenshots of graphs/charts to show examples</li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-m">Choose a user type:</h2>
    <div class="dfe-grid-container wider">
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="primary-school/home.html">Primary school</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="secondary-school/home.html">Secondary school</a>
          </h2>
        </div>
      </div>
      <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="all-through-school/home.html">All-through school</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="mat/home.html">Multi academy trust</a>
          </h2>
        </div>
      </div> -->
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="local-authority/home.html">Local authority</a>
          </h2>
        </div>
      </div>
      <!-- <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="school-governer/home.html">School governor</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="diocese/home.html">Diocese</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="system-admin/home.html">System admin</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="ofsted/home.html">Ofsted</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="dfe/home.html">DfE</a>
          </h2>
        </div>
      </div>
      <div class="dfe-card">
        <div class="dfe-card-container">
          <h2>
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="training-provider/home.html">Training provider</a>
          </h2>
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
