
{% extends "layout.html" %}

{% block pageTitle %}
  Child in Need – Children's Social Care
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>

<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="/index.html"><strong>Search</strong></a></li>
    <li><a href="/key-stage-landing.html"><strong>Key Stage</strong></a></li>
    <li><a href="#"><strong>Other Reports</strong></a></li>
    <li><a href="#"><strong>Site News</strong></a></li>
    <li><a href="#"><strong>Release Timetable</strong></a></li>
    <li><a href="#"><strong>Guidance</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Key Stage
      </h1>
      
      <p>Intro text explaining about what users will find on the next page. Intro text explaining about what users will find on the next page. Intro text explaining about what users will find on the next page. Intro text explaining about what users will find on the next page.</p>
      
      <!-- <div id="open-modal" class="modal-window">
        <div>
          <a href="#" title="Close" class="modal-close">Close</a>
          <h2>Children in Need (CiN)</h2>
          <p>A Child in Need is a child that has been assessed as needing support because of risks to development or health.</p>
        </div>
      </div> -->

      <ul class="landing-grid">
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="#">
            <div class="inner-text">
              <p class="header"><strong>Key Stage 1</strong></p>
            </div>
          </a>
        </li>
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="#">
            <div class="inner-text">
              <p class="header"><strong>Key Stage 2</strong></p>
            </div>
          </a>
        </li>
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="#">
            <div class="inner-text">
              <p class="header"><strong>Key Stage 3</strong></p>
            </div>
          </a>
        </li>
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="#">
            <div class="inner-text">
              <p class="header"><strong>Key Stage 4</strong></p>
            </div>
          </a>
        </li>
      </ul>
    
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text govuk-body-s">
            Is there anything wrong with this page?expand to access the feedback form
          </span>
        </summary>
        <div class="govuk-details__text">
          <div id="feedback-form-component">                
            <div class="govuk-fieldset__legend">
                <h2 class="govuk-heading-m">
                    Help us improve Analyse school performance
                </h2>
            </div>

            <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
            <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
        </div>
        </div>
      </details>

    </div>

    </div>
  </div>

{% endblock %}
