
{% extends "layout.html" %}

{% block pageTitle %}
  ASP - My School
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="/index.html"><strong>Home</strong></a></li>
    <li><a href="/search.html"><strong>Search</strong></a></li>
    <!-- <li><a href="/index.html"><strong>My Local Authority</strong></a></li> -->
    <li class="active"><a href="/my-school.html"><strong>My school</strong></a></li>
    <li><a href="#"><strong>Download data</strong></a></li>
    <li><a href="#"><strong>Site news</strong></a></li>
    <li><a href="#"><strong>Release timetable</strong></a></li>
    <li><a href="#"><strong>Guidance</strong></a></li>
  </ul>
</nav>

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        My School
      </h1>

      <div class="govuk-notification-banner" role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Use 2021/22 school performance data with caution<br/><br/>
            LA boundary change
          </p>
        </div>
      </div>

      <div class="dfe-grid-container">
        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="key-stage-1.html">Key stage 1</a>
            </h2>
            <p>See data for key stage 1 including performance measures and additional reports in reading, writing, maths &amp; science.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="key-stage-2.html">Key stage 2</a>
            </h2>
            <p>See data for key stage 2 including performance measures and additional reports in reading, writing, maths &amp; science.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="key-stage-3.html">Key stage 3</a>
            </h2>
            <p>See data for key stage 3 including performance measures and additional reports in reading, writing, maths &amp; science.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="key-stage-4.html">Key stage 4</a>
            </h2>
            <p>See data for key stage 4 including performance measures and additional reports in reading, writing, maths &amp; science.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="phonics.html">Phonics</a>
            </h2>
            <p>View data based on expected standard, average score and attainment in phonics.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="qla.html">Question level analysis (QLA)</a>
            </h2>
            <p>Assess how pupils performed in the key stage 2 tests and compare these with the national average.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="mtc.html">Multiplication table check (MTC)</a>
            </h2>
            <p>Identify pupils who have not yet mastered their times tables, so that additional support can be provided.</p>
          </div>
        </div>

        <div class="dfe-card">
          <div class="dfe-card-container">
            <h2>
              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="other-reports.html">Other reports</a>
            </h2>
            <p>View reports on school performance, Ofsted inspections, asbence and exclusions and school characteristics.</p>
          </div>
        </div>
      </div>


    </div>
  </div>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text govuk-body-s">
        Help us improve Analyse School Performance
      </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
        <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
        <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
        <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
    </div>
  </details>
</div>

{% endblock %}
