{% extends "layout.html" %}
{% block pageTitle %}
ASP - Key stage 4 disadvantaged
{% endblock %}
{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
   <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
   <ul class="app-navigation__list app-width-container">
      <li><a href="home.html"><strong>Home</strong></a></li>
      <li class="active"><a href="my-school.html"><strong>My school</strong></a></li>
      <!-- <li><a href="search.html"><strong>Search</strong></a></li> -->
      <li><a href="#"><strong>Download data</strong></a></li>
      <li><a href="#"><strong>Site news</strong></a></li>
      <li><a href="release-timetable.html"><strong>Release timetable</strong></a></li>
      <li><a href="guidance.html"><strong>Guidance</strong></a></li>
   </ul>
</nav>

<div class="govuk-phase-banner">
   <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
      </strong>
      <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
      </span>
   </p>
</div>

<div class="govuk-breadcrumbs">
   <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="my-school.html">My school</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
         <a class="govuk-breadcrumbs__link" href="key-stage-4.html">Key stage 4</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Key stage 4 disadvantaged
      </li>
   </ol>
</div>

<h1 class="govuk-heading-xl">Key stage 4 disadvantaged</h1>
<h2 id="school-name-heading" class="govuk-heading-m">Secondary school name <span class="urn">(URN: 000000)</span></h2>

<nav class="sub-navigation" aria-label="Sub navigation">
  <ul class="sub-navigation__list">
    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="qla.html">Question level analysis</a>
    </li>
      <li class="sub-navigation__item">
        <a class="sub-navigation__link" aria-current="page" href="key-stage-4.html"><strong>Key stage 4</strong></a>
     </li>
      <li class="sub-navigation__item">
         <a class="sub-navigation__link" href="other-reports.html">Other reports</a>
      </li>
      <li class="sub-navigation__item">
         <a class="sub-navigation__link" href="useful-links.html">Useful links</a>
      </li>
   </ul>
</nav>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper main-asp">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third side-nav">
          <nav class="side-navigation" aria-label="Side navigation">
              <ul class="side-navigation__list">
                <li class="side-navigation__item side-navigation__item">
                    <a href="key-stage-4.html">Headline Measures</a>
                </li>
                <li class="side-navigation__item side-navigation__item--active">
                  <a href="key-stage-4-disadvantaged.html" aria-current="location">Disadvantaged</a>
              </li>
               </ul>
           </nav>
           <h2 class="govuk-heading-s">Headline reports</h2>
           <nav class="side-navigation" aria-label="Side navigation">
              <ul class="side-navigation__list">
                <li class="side-navigation__item">
                    <a href="key-stage-4-progress-8.html">Progress 8</a>
                </li>
                <li class="side-navigation__item">
                    <a href="key-stage-4-entering-ebacc.html">Entering EBacc</a>
                </li>
                <li class="side-navigation__item">
                    <a href="key-stage-4-grade-5-eng-math.html">Grade 5+ in English &amp; Maths</a>
                </li>
                <li class="side-navigation__item">
                    <a href="#3">Attainment 8</a>
                </li>
                <li class="side-navigation__item">
                  <a href="#3">EBacc average score point</a>
              </li>
                <li class="side-navigation__item">
                    <a href="key-stage-4-progress-data.html">Progress 8 scatter plot</a>
                </li>
                <li class="side-navigation__item">
                    <a href="key-stage-4-attainment-data.html">Attainment 8 scatter plot</a>
                </li>
              </ul>
          </nav>
          <h2 class="govuk-heading-s">Additional reports</h2>
           <nav class="side-navigation" aria-label="Side navigation">
              <ul class="side-navigation__list">
                <li class="side-navigation__item">
                    <a href="#2">Grade 4+ in English &amp; Maths</a>
                </li>
                <li class="side-navigation__item">
                    <a href="#2">Achieving EBacc grade 5/C+</a>
                </li>
                <li class="side-navigation__item">
                  <a href="#2">Achieving EBacc grade 4/C+</a>
              </li>
              <li class="side-navigation__item">
                <a href="#2">EBacc value added by subject</a>
            </li>
            <li class="side-navigation__item">
              <a href="#2">Entries &amp; points</a>
          </li>
          <li class="side-navigation__item">
            <a href="#2">Pupil list</a>
        </li>
            </ul>
        </nav>
        </div>
        <!--TABS-->
        <div class="govuk-grid-column-two-thirds">
          <div class="page-content js-content-target">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l">Disadvantaged</h2>
              </div>
              <div class="govuk-grid-column-one-half download-to-pdf">
                <button class="govuk-button" data-module="govuk-button">
                  Download PDF to print or save
                </button>
              </div>
            </div>


              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  
                    <div class="data-message-container">
                      <p>This is provisional data for 2021/22.</p>
                    </div>

                    <div class="score-section" id="ks2summary-progressrwm">
                        <h3 id="ks2-rwm-progress-heading" class="govuk-heading-m">Progress 8 for disadvantaged pupils<a class="icon-more-info-help " href="#ks2-progress-scores" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                        </h3>    
                        <table class="asp-disadvantaged-progress-table govuk-table">
                          <caption class="govuk-visually-hidden">
                             Progress 8 data for secondary school
                          </caption>
                          <tbody class="govuk-table__body">
                             <tr class="govuk-table__row">
                                <th scope="row" class="asp-disadvantaged-score-label govuk-table__header">Progress score for disadvantaged pupils</th>
                                <td class="asp-disadvantaged-progress-table__school-score govuk-table__cell">0.12</td>
                             </tr>
                             <tr class="confidence-row govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                   Confidence interval
                                   <a class="icon-more-info-help " href="#H1073" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                                </th>
                                <td class="govuk-table__cell">
                                   -0.29 to 0.54
                                </td>
                             </tr>
                             <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                   Number of disadvantaged pupils
                                </th>
                                <td class="govuk-table__cell">45</td>
                             </tr>
                             <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                   Disadvantaged pupils with adjusted scores
                                </th>
                                <td class="govuk-table__cell">0</td>
                             </tr>
                             <tr class="asp-disadvantaged-progress-table__summary govuk-table__row tweak-for-l4l">
                                <th scope="row" class="govuk-table__header">
                                   <div>
                                      National average for non disadvantaged pupils
                                   </div>
                                </th>
                                <td class="govuk-table__cell">
                                   <span class="comparison-value-0" aria-hidden="false">
                                   0.17
                                   </span>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                       <a href="#">Explore progress 8 data in detail</a> <a href="#" style="margin-left: 20px;">View pupil breakdown</a>
                       <br/><br/><br/>

                       <h3 id="ks2-rwm-progress-heading" class="govuk-heading-s">Prior attainment of pupils entering the English Baccalaureate<a class="icon-more-info-help " href="#ks2-progress-scores" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                       </h3>    
                       <table id="prior-attainment-of-pupils-entering-the-english-baccalaureate" class="govuk-table asp-report-table bigger">
                         <caption class="govuk-visually-hidden">Prior attainment of pupils entering the English Baccalaureate </caption>
                         <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                               <th scope="col" class="govuk-table__header asp-thick-border">Prior attainment</th>
                               <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">
                                  Low         <a class="icon-more-info-help " href="#help-prior-attainment-of-pupils-entering-the-english-baccalaureate-low" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                               </th>
                               <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">
                                  Middle         <a class="icon-more-info-help " href="#help-prior-attainment-of-pupils-entering-the-english-baccalaureate-middle" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                               </th>
                               <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">
                                  High         <a class="icon-more-info-help " href="#help-prior-attainment-of-pupils-entering-the-english-baccalaureate-high" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                               </th>
                            </tr>
                            <tr class="secondary-heading-row govuk-table__row">
                               <th scope="col" class="govuk-table__header asp-thick-border">Group</th>
                               <th scope="col" class="govuk-table__header">All</th>
                               <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                               <th scope="col" class="govuk-table__header">All</th>
                               <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                               <th scope="col" class="govuk-table__header">All</th>
                               <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                            </tr>
                         </thead>
                         <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                               <th scope="row" class="govuk-table__header">Number of pupils </th>
                               <td class="govuk-table__cell asp-thick-border">34</td>
                               <td class="govuk-table__cell asp-thick-border">10</td>
                               <td class="govuk-table__cell asp-thick-border">126</td>
                               <td class="govuk-table__cell asp-thick-border">24</td>
                               <td class="govuk-table__cell asp-thick-border">67</td>
                               <td class="govuk-table__cell asp-thick-border">11</td>
                            </tr>
                            <tr class="govuk-table__row">
                               <th scope="row" class="govuk-table__header">Percentage </th>
                               <td class="govuk-table__cell asp-thick-border">44.12</td>
                               <td class="govuk-table__cell asp-thick-border">70.00</td>
                               <td class="govuk-table__cell asp-thick-border">69.84</td>
                               <td class="govuk-table__cell asp-thick-border">62.50</td>
                               <td class="govuk-table__cell asp-thick-border">91.04</td>
                               <td class="govuk-table__cell asp-thick-border">90.91</td>
                            </tr>
                            <tr class="govuk-table__row">
                               <th scope="row" class="govuk-table__header">National average         <a class="icon-more-info-help " href="#help-national-comparator" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                               <td class="govuk-table__cell asp-thick-border">15.38</td>
                               <td class="govuk-table__cell asp-thick-border">17.63</td>
                               <td class="govuk-table__cell asp-thick-border">39.76</td>
                               <td class="govuk-table__cell asp-thick-border">42.14</td>
                               <td class="govuk-table__cell asp-thick-border">61.92</td>
                               <td class="govuk-table__cell asp-thick-border">63.49</td>
                            </tr>
                            <tr class="govuk-table__row">
                               <th scope="row" class="govuk-table__header">Difference         <a class="icon-more-info-help " href="#H3005" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                               <td class="govuk-table__cell asp-thick-border">28.74</td>
                               <td class="govuk-table__cell asp-thick-border">52.37</td>
                               <td class="govuk-table__cell asp-thick-border">30.08</td>
                               <td class="govuk-table__cell asp-thick-border">20.36</td>
                               <td class="govuk-table__cell asp-thick-border">29.12</td>
                               <td class="govuk-table__cell asp-thick-border">27.42</td>
                            </tr>
                         </tbody>
                      </table>
                    </div>

                    <div class="score-section" id="ks1-summary-reading-exp-std" style="position: relative;">
                      <h3 class="govuk-heading-m">
                        Percentage of disadvantaged pupils achieving grade 5 or above in English and maths
                      </h3>
                      <p class="cohort-size govuk-body-s">Number of pupils = 47</p>
                      <div class="school-chart" id="chart-ks1-reading-exp-std-table">
                        <svg width="680" height="162">
                           <g transform="translate(235,20)" class="bars">
                              <rect height="24" x="0.5" y="0" width="286.7272727272727" style="fill: #d53880;stroke-width: 2px; stroke: white;"></rect>
                              <rect height="24" x="0.5" y="24" width="245.2272727272727" style="fill: #3e4549;stroke-width: 2px; stroke: white;"></rect>
                              <text class="school value-label" x="294.7272727272727" y="16">76%</text>
                              <text class="value-label" x="253.2272727272727" y="40">65%</text>
                              <text text-anchor="end" class="bar-y-label" x="-4" y="16">School</text>
                              <text text-anchor="end" class="bar-y-label chart-national-average-text" x="-30" y="40">
                                 <tspan text-anchor="end" x="-30" y="36">National average for</tspan>
                                 <tspan text-anchor="end" x="-30" y="55">non-disadvantaged pupils</tspan>
                              </text>
                              <g transform="translate(-15,36)" class="H2645 chart-help-icon-wrap" href="#H2645">
                                 <path class="chart-help-icon" d="M10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,-10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,10.704744696916627,0" style="fill: rgb(213, 232, 243);"></path>
                                 <text text-anchor="middle" transform="translate(0,6)" style="fill: rgb(0, 0, 0);">?</text>
                              </g>
                           </g>
                           <text text-anchor="middle" transform="translate(356,135 )" class="axis-label axis-label-x">Percentage achieving grade 5 or above in English &amp; maths</text>
                           <g transform="translate(235,0)" class="yaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="end">
                              <path class="domain" stroke="currentColor" d="M0,0.5H0.5V90.5H0"></path>
                           </g>
                           <g transform="translate(235, 90)" class="xaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
                              <path class="domain" stroke="currentColor" d="M0.5,0V0.5H415.5V0"></path>
                              <g class="tick" opacity="1" transform="translate(0.5,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">0%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(189.1363636363636,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">50%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(377.7727272727272,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">100%</text>
                              </g>
                           </g>
                        </svg>
                     </div>
                      <button class="govuk-button link" id="ks1-reading-exp-std-table-link">View as table</button>  <button class="govuk-button link" style="margin-left: 20px;" id="">Explore data in detail</button>    

                      <table class="ks1-reading-exp-std-data asp-chart-table govuk-table u-printHidden" id="ks1-reading-exp-std-table" aria-hidden="true" style="position: relative;display:none;">
                        <caption class="govuk-visually-hidden">Percentage achieving grade 5 or above in English & maths</caption>
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell"></td>
                              <th scope="col" class="govuk-table__header">School</th>
                              <th scope="col" class="govuk-table__header govuk-table__header--numeric">National average for non-disadvantaged pupils</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Percentage achieving grade 5 or above in English & maths</th>
                              <td aria-label="School" class="govuk-table__cell govuk-table__cell--numeric">76%</td>
                              <td aria-label="Local authority average" class="govuk-table__cell govuk-table__cell--numeric">65%</td>
                          </tr>
                        </tbody>
                    </table>
                      <br/><br/><br/>

                      <h3 id="ks2-rwm-progress-heading" class="govuk-heading-s">Prior attainment of pupils achieving grade 5 or above in English and maths<a class="icon-more-info-help " href="#ks2-progress-scores" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                      </h3>    
                      <table id="a-c-english-maths-prior-attainment-dis" class="govuk-table asp-report-table bigger">
                        <caption class="govuk-visually-hidden">Prior attainment of pupils achieving grade 5 or above in English and maths</caption>
                        <thead class="govuk-table__head">
                           <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header asp-thick-border">Prior attainment</th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">Low         <a class="icon-more-info-help " href="#help-a-c-english-maths-prior-attainment-dis-low" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">Middle         <a class="icon-more-info-help " href="#help-a-c-english-maths-prior-attainment-dis-middle" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">High         <a class="icon-more-info-help " href="#help-a-c-english-maths-prior-attainment-dis-high" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                           </tr>
                           <tr class="secondary-heading-row govuk-table__row">
                              <th scope="col" class="govuk-table__header asp-thick-border">Group</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                           </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Number of pupils </th>
                              <td class="govuk-table__cell">34</td>
                              <td class="govuk-table__cell asp-thick-border">10</td>
                              <td class="govuk-table__cell">126</td>
                              <td class="govuk-table__cell asp-thick-border">24</td>
                              <td class="govuk-table__cell">67</td>
                              <td class="govuk-table__cell asp-thick-border">11</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Percentage </th>
                              <td class="govuk-table__cell">5.88</td>
                              <td class="govuk-table__cell asp-thick-border">10.00</td>
                              <td class="govuk-table__cell">55.56</td>
                              <td class="govuk-table__cell asp-thick-border">41.67</td>
                              <td class="govuk-table__cell">94.03</td>
                              <td class="govuk-table__cell asp-thick-border">100.00</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">National average         <a class="icon-more-info-help " href="#help-national-comparator" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <td class="govuk-table__cell">5.69</td>
                              <td class="govuk-table__cell asp-thick-border">7.32</td>
                              <td class="govuk-table__cell">44.44</td>
                              <td class="govuk-table__cell asp-thick-border">49.45</td>
                              <td class="govuk-table__cell">86.95</td>
                              <td class="govuk-table__cell asp-thick-border">89.38</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Difference         <a class="icon-more-info-help " href="#H3005" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <td class="govuk-table__cell">0.19</td>
                              <td class="govuk-table__cell asp-thick-border">2.68</td>
                              <td class="govuk-table__cell">11.12</td>
                              <td class="govuk-table__cell asp-thick-border">-7.78</td>
                              <td class="govuk-table__cell">7.08</td>
                              <td class="govuk-table__cell asp-thick-border">10.62</td>
                           </tr>
                        </tbody>
                     </table>
                    </div>

                    <div class="score-section" id="ks1-summary-reading-exp-std" style="position: relative;">
                      <h3 class="govuk-heading-m">
                        Attainment 8 for disadvantaged pupils
                      </h3>
                      <p class="cohort-size govuk-body-s">Number of pupils = 47</p>
                      <div class="school-chart" id="chart-ks1-reading-exp-std-table">
                        <svg width="680" height="162">
                           <g transform="translate(235,20)" class="bars">
                              <rect height="24" x="0.5" y="0" width="286.7272727272727" style="fill: #d53880;stroke-width: 2px; stroke: white;"></rect>
                              <rect height="24" x="0.5" y="24" width="245.2272727272727" style="fill: #3e4549;stroke-width: 2px; stroke: white;"></rect>
                              <text class="school value-label" x="294.7272727272727" y="16">76%</text>
                              <text class="value-label" x="253.2272727272727" y="40">65%</text>
                              <text text-anchor="end" class="bar-y-label" x="-4" y="16">School</text>
                              <text text-anchor="end" class="bar-y-label chart-national-average-text" x="-30" y="40">
                                 <tspan text-anchor="end" x="-30" y="36">National average for</tspan>
                                 <tspan text-anchor="end" x="-30" y="55">non-disadvantaged pupils</tspan>
                              </text>
                              <g transform="translate(-15,36)" class="H2645 chart-help-icon-wrap" href="#H2645">
                                 <path class="chart-help-icon" d="M10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,-10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,10.704744696916627,0" style="fill: rgb(213, 232, 243);"></path>
                                 <text text-anchor="middle" transform="translate(0,6)" style="fill: rgb(0, 0, 0);">?</text>
                              </g>
                           </g>
                           <text text-anchor="middle" transform="translate(356,135 )" class="axis-label axis-label-x">Average Attainment 8 points</text>
                           <g transform="translate(235,0)" class="yaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="end">
                              <path class="domain" stroke="currentColor" d="M0,0.5H0.5V90.5H0"></path>
                           </g>
                           <g transform="translate(235, 90)" class="xaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
                              <path class="domain" stroke="currentColor" d="M0.5,0V0.5H415.5V0"></path>
                              <g class="tick" opacity="1" transform="translate(0.5,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">0%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(189.1363636363636,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">50%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(377.7727272727272,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">100%</text>
                              </g>
                           </g>
                        </svg>
                     </div>
                      <button class="govuk-button link" id="ks1-reading-exp-std-table-link">View as table</button>  <button class="govuk-button link" style="margin-left: 20px;" id="">Explore data in detail</button>  <button class="govuk-button link" style="margin-left: 20px;" id="">View pupil breakdown</button>    

                      <table class="ks1-reading-exp-std-data asp-chart-table govuk-table u-printHidden" id="ks1-reading-exp-std-table" aria-hidden="true" style="position: relative;display:none;">
                          <caption class="govuk-visually-hidden">Average Attainment 8 points</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"></td>
                                <th scope="col" class="govuk-table__header">School</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">National average for non-disadvantaged pupils</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Average Attainment 8 points</th>
                                <td aria-label="School" class="govuk-table__cell govuk-table__cell--numeric">76%</td>
                                <td aria-label="Local authority average" class="govuk-table__cell govuk-table__cell--numeric">65%</td>
                            </tr>
                          </tbody>
                      </table>
                      <br/><br/><br/>

                      <h3 id="ks2-rwm-progress-heading" class="govuk-heading-s">Attainment 8 by prior attainment<a class="icon-more-info-help " href="#ks2-progress-scores" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                      </h3>    
                      <table id="expected-standard-prior-attainment-dis" class="govuk-table asp-report-table bigger">
                        <caption class="govuk-visually-hidden">Attainment 8 by prior attainment</caption>
                        <thead class="govuk-table__head">
                           <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header asp-thick-border">Prior attainment</th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">Low         <a class="icon-more-info-help " href="#help-expected-standard-prior-attainment-dis-low" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">Middle         <a class="icon-more-info-help " href="#help-expected-standard-prior-attainment-dis-middle" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">High         <a class="icon-more-info-help " href="#help-expected-standard-prior-attainment-dis-high" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                           </tr>
                           <tr class="secondary-heading-row govuk-table__row">
                              <th scope="col" class="govuk-table__header asp-thick-border">Group</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                           </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Number of pupils </th>
                              <td class="govuk-table__cell">34</td>
                              <td class="govuk-table__cell asp-thick-border">10</td>
                              <td class="govuk-table__cell">126</td>
                              <td class="govuk-table__cell asp-thick-border">24</td>
                              <td class="govuk-table__cell">67</td>
                              <td class="govuk-table__cell asp-thick-border">11</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">School </th>
                              <td class="govuk-table__cell">29.99</td>
                              <td class="govuk-table__cell asp-thick-border">30.80</td>
                              <td class="govuk-table__cell">51.94</td>
                              <td class="govuk-table__cell asp-thick-border">47.90</td>
                              <td class="govuk-table__cell">70.40</td>
                              <td class="govuk-table__cell asp-thick-border">64.73</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">National average         <a class="icon-more-info-help " href="#help-national-comparator" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <td class="govuk-table__cell">25.86</td>
                              <td class="govuk-table__cell asp-thick-border">29.15</td>
                              <td class="govuk-table__cell">46.70</td>
                              <td class="govuk-table__cell asp-thick-border">49.02</td>
                              <td class="govuk-table__cell">66.20</td>
                              <td class="govuk-table__cell asp-thick-border">67.59</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Difference         <a class="icon-more-info-help " href="#H3005" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <td class="govuk-table__cell">4.12</td>
                              <td class="govuk-table__cell asp-thick-border">1.65</td>
                              <td class="govuk-table__cell">5.24</td>
                              <td class="govuk-table__cell asp-thick-border">-1.13</td>
                              <td class="govuk-table__cell">4.19</td>
                              <td class="govuk-table__cell asp-thick-border">-2.86</td>
                           </tr>
                        </tbody>
                     </table>
                    </div>
                    
                    <div class="score-section" id="ks1-summary-reading-exp-std" style="position: relative;">
                      <h3 class="govuk-heading-m">
                        English Baccalaureate average point score for disadvantaged pupils
                      </h3>
                      <p class="cohort-size govuk-body-s">Number of pupils = 47</p>
                      <div class="school-chart" id="chart-ks1-reading-exp-std-table">
                        <svg width="680" height="162">
                           <g transform="translate(235,20)" class="bars">
                              <rect height="24" x="0.5" y="0" width="286.7272727272727" style="fill: #d53880;stroke-width: 2px; stroke: white;"></rect>
                              <rect height="24" x="0.5" y="24" width="245.2272727272727" style="fill: #3e4549;stroke-width: 2px; stroke: white;"></rect>
                              <text class="school value-label" x="294.7272727272727" y="16">76%</text>
                              <text class="value-label" x="253.2272727272727" y="40">65%</text>
                              <text text-anchor="end" class="bar-y-label" x="-4" y="16">School</text>
                              <text text-anchor="end" class="bar-y-label chart-national-average-text" x="-30" y="40">
                                 <tspan text-anchor="end" x="-30" y="36">National average for</tspan>
                                 <tspan text-anchor="end" x="-30" y="55">non-disadvantaged pupils</tspan>
                              </text>
                              <g transform="translate(-15,36)" class="H2645 chart-help-icon-wrap" href="#H2645">
                                 <path class="chart-help-icon" d="M10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,-10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,10.704744696916627,0" style="fill: rgb(213, 232, 243);"></path>
                                 <text text-anchor="middle" transform="translate(0,6)" style="fill: rgb(0, 0, 0);">?</text>
                              </g>
                           </g>
                           <text text-anchor="middle" transform="translate(356,135 )" class="axis-label axis-label-x">English Baccalaureate average point score</text>
                           <g transform="translate(235,0)" class="yaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="end">
                              <path class="domain" stroke="currentColor" d="M0,0.5H0.5V90.5H0"></path>
                           </g>
                           <g transform="translate(235, 90)" class="xaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
                              <path class="domain" stroke="currentColor" d="M0.5,0V0.5H415.5V0"></path>
                              <g class="tick" opacity="1" transform="translate(0.5,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">0%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(189.1363636363636,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">50%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(377.7727272727272,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">100%</text>
                              </g>
                           </g>
                        </svg>
                     </div>
                      <button class="govuk-button link" id="ks1-reading-exp-std-table-link">View as table</button>  <button class="govuk-button link" style="margin-left: 20px;" id="">Explore data in detail</button>    

                      <table class="ks1-reading-exp-std-data asp-chart-table govuk-table u-printHidden" id="ks1-reading-exp-std-table" aria-hidden="true" style="position: relative;display:none;">
                          <caption class="govuk-visually-hidden">English Baccalaureate average point score</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"></td>
                                <th scope="col" class="govuk-table__header">School</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">National average for non-disadvantaged pupils</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">English Baccalaureate average point score</th>
                                <td aria-label="School" class="govuk-table__cell govuk-table__cell--numeric">76%</td>
                                <td aria-label="Local authority average" class="govuk-table__cell govuk-table__cell--numeric">65%</td>
                            </tr>
                          </tbody>
                      </table>
                      <br/><br/><br/>

                      <h3 id="ks2-rwm-progress-heading" class="govuk-heading-s">Attainment 8 by prior attainment<a class="icon-more-info-help " href="#ks2-progress-scores" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                      </h3>    
                      <table id="english-baccalaureate-average-point-score-by-prior-attainment" class="govuk-table asp-report-table bigger">
                        <caption class="govuk-visually-hidden">English Baccalaureate average point score by prior attainment</caption>
                        <thead class="govuk-table__head">
                           <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header asp-thick-border">Prior attainment</th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">
                                 Low         <a class="icon-more-info-help " href="#help-english-baccalaureate-average-point-score-by-prior-attainment-low" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                              </th>
                              <th scope="col" colspan="2" class="govuk-table__header asp-thick-border">
                                 Middle          <a class="icon-more-info-help " href="#help-english-baccalaureate-average-point-score-by-prior-attainment-middle" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                              </th>
                              <th scope="col" colspan="2" class="govuk-table__header">
                                 High         <a class="icon-more-info-help " href="#help-english-baccalaureate-average-point-score-by-prior-attainment-high" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a>
                              </th>
                           </tr>
                           <tr class="secondary-heading-row govuk-table__row">
                              <th scope="col" class="govuk-table__header asp-thick-border">Group</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                              <th scope="col" class="govuk-table__header">All</th>
                              <th scope="col" class="govuk-table__header asp-thick-border">Dis</th>
                           </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Number of pupils </th>
                              <td class="govuk-table__cell">34</td>
                              <td class="govuk-table__cell asp-thick-border">10</td>
                              <td class="govuk-table__cell">126</td>
                              <td class="govuk-table__cell asp-thick-border">24</td>
                              <td class="govuk-table__cell">67</td>
                              <td class="govuk-table__cell asp-thick-border">11</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Average point score </th>
                              <td class="govuk-table__cell">2.40</td>
                              <td class="govuk-table__cell asp-thick-border">2.58</td>
                              <td class="govuk-table__cell">4.61</td>
                              <td class="govuk-table__cell asp-thick-border">4.22</td>
                              <td class="govuk-table__cell">6.58</td>
                              <td class="govuk-table__cell asp-thick-border">6.03</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">National average         <a class="icon-more-info-help " href="#H3004" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <td class="govuk-table__cell">2.07</td>
                              <td class="govuk-table__cell asp-thick-border">2.35</td>
                              <td class="govuk-table__cell">4.04</td>
                              <td class="govuk-table__cell asp-thick-border">4.26</td>
                              <td class="govuk-table__cell">6.08</td>
                              <td class="govuk-table__cell asp-thick-border">6.22</td>
                           </tr>
                           <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Difference         <a class="icon-more-info-help " href="#H3005" data-noxlsx="1"><span class="govuk-visually-hidden">What does this mean?</span></a></th>
                              <td class="govuk-table__cell">0.33</td>
                              <td class="govuk-table__cell asp-thick-border">0.24</td>
                              <td class="govuk-table__cell">0.57</td>
                              <td class="govuk-table__cell asp-thick-border">-0.04</td>
                              <td class="govuk-table__cell">0.50</td>
                              <td class="govuk-table__cell asp-thick-border">-0.19</td>
                           </tr>
                        </tbody>
                     </table>
                    </div>

                    <div class="score-section" id="ks1-summary-reading-exp-std" style="position: relative;">
                      <h3 class="govuk-heading-m">
                        Percentage of disadvantaged pupils staying in education or entering employment after key stage 4
                      </h3>
                      <p class="cohort-size govuk-body-s">Number of pupils = 47</p>
                      <div class="school-chart" id="chart-ks1-reading-exp-std-table">
                        <svg width="680" height="162">
                           <g transform="translate(235,20)" class="bars">
                              <rect height="24" x="0.5" y="0" width="286.7272727272727" style="fill: #d53880;stroke-width: 2px; stroke: white;"></rect>
                              <rect height="24" x="0.5" y="24" width="245.2272727272727" style="fill: #3e4549;stroke-width: 2px; stroke: white;"></rect>
                              <text class="school value-label" x="294.7272727272727" y="16">76%</text>
                              <text class="value-label" x="253.2272727272727" y="40">65%</text>
                              <text text-anchor="end" class="bar-y-label" x="-4" y="16">School</text>
                              <text text-anchor="end" class="bar-y-label chart-national-average-text" x="-30" y="40">
                                 <tspan text-anchor="end" x="-30" y="36">National average for</tspan>
                                 <tspan text-anchor="end" x="-30" y="55">non-disadvantaged pupils</tspan>
                              </text>
                              <g transform="translate(-15,36)" class="H2645 chart-help-icon-wrap" href="#H2645">
                                 <path class="chart-help-icon" d="M10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,-10.704744696916627,0A10.704744696916627,10.704744696916627,0,1,1,10.704744696916627,0" style="fill: rgb(213, 232, 243);"></path>
                                 <text text-anchor="middle" transform="translate(0,6)" style="fill: rgb(0, 0, 0);">?</text>
                              </g>
                           </g>
                           <text text-anchor="middle" transform="translate(356,135 )" class="axis-label axis-label-x">Percentage in education or employment after key stage 4</text>
                           <g transform="translate(235,0)" class="yaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="end">
                              <path class="domain" stroke="currentColor" d="M0,0.5H0.5V90.5H0"></path>
                           </g>
                           <g transform="translate(235, 90)" class="xaxis axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
                              <path class="domain" stroke="currentColor" d="M0.5,0V0.5H415.5V0"></path>
                              <g class="tick" opacity="1" transform="translate(0.5,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">0%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(189.1363636363636,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">50%</text>
                              </g>
                              <g class="tick" opacity="1" transform="translate(377.7727272727272,0)">
                                 <line stroke="currentColor" y2="6"></line>
                                 <text fill="currentColor" y="9" dy="0.71em">100%</text>
                              </g>
                           </g>
                        </svg>
                     </div>
                      <button class="govuk-button link" id="ks1-reading-exp-std-table-link">View as table</button>  <button class="govuk-button link" style="margin-left: 20px;" id="">Explore data in detail</button>    

                      <table class="ks1-reading-exp-std-data asp-chart-table govuk-table u-printHidden" id="ks1-reading-exp-std-table" aria-hidden="true" style="position: relative;display:none;">
                          <caption class="govuk-visually-hidden">Percentage in education or employment after key stage 4</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"></td>
                                <th scope="col" class="govuk-table__header">School</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">National average for non-disadvantaged pupils</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Percentage in education or employment after key stage 4</th>
                                <td aria-label="School" class="govuk-table__cell govuk-table__cell--numeric">76%</td>
                                <td aria-label="Local authority average" class="govuk-table__cell govuk-table__cell--numeric">65%</td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <!--END OF TABS-->
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text govuk-body-s">
            Help us improve Analyse School Performance
          </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
            <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
        </div>
      </details>
  </main>
</div>
{% endblock %}