{% extends "layout.html" %}

{% block pageTitle %}
  ASP - My School
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="../home.html"><strong>Home</strong></a></li>
    <li><a href="../my-la.html"><strong>My local authority</strong></a></li>
    <li class="active"><a href="../my-school.html"><strong>My schools</strong></a></li>
    <li><a href="../search.html"><strong>Search</strong></a></li>
    <li><a href="#"><strong>Site news</strong></a></li>
    <li><a href="../release-timetable.html"><strong>Release timetable</strong></a></li>
    <li><a href="../guidance.html"><strong>Guidance</strong></a></li>
  </ul>
</nav>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. 
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../my-school.html">My schools</a>
   </li>
   <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../my-school-primary.html">A Primary School</a>
   </li>
   <li class="govuk-breadcrumbs__list-item">
    Download
   </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Key stage 1</h1>
<h2 id="school-name-heading" class="govuk-heading-m">Primary school name <span class="urn">(URN: 000000)</span></h2>

<nav class="sub-navigation" aria-label="Sub navigation">
   <ul class="sub-navigation__list">
      <li class="sub-navigation__item">
         <a class="sub-navigation__link" href="phonics.html">Phonics</a>
      </li>
      <li class="sub-navigation__item">
        <a class="sub-navigation__link" href="key-stage-1.html">Key stage 1</a>
     </li>
      <li class="sub-navigation__item">
         <a class="sub-navigation__link" href="mtc.html">Multiplication table check</a>
      </li>
      <li class="sub-navigation__item">
        <a class="sub-navigation__link" href="key-stage-2.html">Key stage 2</a>
     </li>
     <li class="sub-navigation__item">
        <a class="sub-navigation__link" href="qla.html">Question level analysis</a>
     </li>
      <li class="sub-navigation__item">
         <a class="sub-navigation__link" href="other-reports.html">Other reports</a>
      </li>
      <li class="sub-navigation__item">
         <a class="sub-navigation__link" href="useful-links.html">Useful links</a>
      </li>
      <li class="sub-navigation__item">
        <a class="sub-navigation__link" aria-current="page" href="download-school.html"><strong>Download</strong></a>
     </li>
   </ul>
</nav>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper main-asp">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third side-nav">
          <nav class="side-navigation" aria-label="Side navigation">
              <ul class="side-navigation__list">
                <li class="side-navigation__item side-navigation__item--active">
                    <a href="download-school" aria-current="location">Pupil level and aggregated LA data</a>
                </li>
              </ul>
          </nav>
          <h2 class="govuk-heading-s">Additional download data</h2>
          <nav class="side-navigation" aria-label="Side navigation">
            <ul class="side-navigation__list">
                <li class="side-navigation__item">
                    <a href="#2">Schools name data </a>
                </li>
              </ul>
          </nav>
        </div>
        <!--TABS-->
        
        <div class="govuk-grid-column-two-thirds">
          <div class="page-content js-content-target">
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-l">Download pupil level and aggregated LA data </h2>
              </div>
             
              <p class="govuk-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam arcu, pretium et eleifend sit amet, sollicitudin in nulla.  </p>

              <p class="govuk-body-s">Step of 1 of 3</p>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                  <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                    Dates available for download
                  </legend>
                  <div id="waste-hint" class="govuk-hint">
                    Select all that apply.
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                        2022 to 2023
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        2021 to 2022
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        2020 to 2019
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        2019 to 2020
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <a href="download-datafile" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
              </a>
            
            </div>


   
        

        <!--END OF TABS-->

    
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text govuk-body-s">
            Help us improve Analyse School Performance
          </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body-s">Don't include personal or financial information, for example your National Insurance number or credit card details</p>
            <p class="govuk-body-s">Report an issue with <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" class="govuk-body-s" target="_blank">Analyse school performance</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with an <a href="https://contact.ofsted.gov.uk/contact-form" class="govuk-body-s" target="_blank">Ofsted inspection data summary report</a> (opens a new window).</p>
            <p class="govuk-body-s">Report an issue with <a href="https://help.signin.education.gov.uk/contact/" class="govuk-body-s" target="_blank">DfE sign-in</a> (opens a new window).</p>
        </div>
      </details>
  </main>
</div>
{% endblock %}